body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #f3ebf8;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

h1 {
  padding: 16px;
  color: blueviolet;
  font-size: medium;
  margin-top: 100px;
  background-color: whitesmoke;
}
#form-input {
  display: flex;
  margin: 4px;
  width: 80%;
  padding: 4px;
  border: 1px solid white;
  border-bottom: 1.5px solid grey;
  background-color: whitesmoke;
  flex-grow: 1;
}
#btn-add-form,
#btn-delete,
#btn-add {
  font-weight: bold;
  background-color: #ddd1e6;
  color: #7752bd;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
#btn-add-form {
  position: relative;
  margin-top: 5px;
}
#btn-add {
  width: 20%;
  margin: 4px;
  margin-left: 250px;
}
#btn-delete {
  float: right;
}
.form-wrapper {
  position: relative;
}

.form-input-wrapper {
  background-color: whitesmoke;
  min-height: 200px;
}

.List-component {
  display: flex;
  width: 250px;
  padding: 8px;
  background-color: whitesmoke;
  overflow: hidden;
}
span {
  float: right;
  margin-left: 90px;
  position: relative;
}
#name-div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  position: relative;
}
#name {
  color: blueviolet;
  font-weight: bold;
  position: relative;
}
